@import 'tailwindcss';
@import 'tw-animate-css';
/* @import "fumadocs-ui/style.css"; */

@custom-variant dark (&:is(.dark *));

@layer base {
  @theme inline {
    --color-bg-default: var(--bg-default);
    --color-bg-base: var(--bg-base);
    --color-bg-bg-subtle: var(--bg-bg-subtle);
    --color-bg-bg: var(--bg-bg);
    --color-bg-bg-hover: var(--bg-bg-hover);
    --color-bg-bg-active: var(--bg-bg-active);
    --color-fg-line: var(--fg-line);
    --color-fg-border: var(--fg-border);
    --color-fg-border-hover: var(--fg-border-hover);
    --color-fg-solid: var(--fg-solid);
    --color-fg-solid-hover: var(--fg-solid-hover);
    --color-fg-text: var(--fg-text);
    --color-fg-text-contrast: var(--fg-text-contrast);
    --color-fg-default: var(--fg-default);

    /* Primary colors */
    --color-primary-base: var(--primary-base);
    --color-primary-bg-subtle: var(--primary-bg-subtle);
    --color-primary-bg: var(--primary-bg);
    --color-primary-bg-hover: var(--primary-bg-hover);
    --color-primary-bg-active: var(--primary-bg-active);
    --color-primary-line: var(--primary-line);
    --color-primary-border: var(--primary-border);
    --color-primary-border-hover: var(--primary-border-hover);
    --color-primary-solid: var(--primary-solid);
    --color-primary-solid-hover: var(--primary-solid-hover);
    --color-primary-text: var(--primary-text);
    --color-primary-text-contrast: var(--primary-text-contrast);
    --color-primary-on-primary: var(--primary-on-primary);

    /* Secondary colors */
    --color-secondary-base: var(--secondary-base);
    --color-secondary-bg-subtle: var(--secondary-bg-subtle);
    --color-secondary-bg: var(--secondary-bg);
    --color-secondary-bg-hover: var(--secondary-bg-hover);
    --color-secondary-bg-active: var(--secondary-bg-active);
    --color-secondary-line: var(--secondary-line);
    --color-secondary-border: var(--secondary-border);
    --color-secondary-border-hover: var(--secondary-border-hover);
    --color-secondary-solid: var(--secondary-solid);
    --color-secondary-solid-hover: var(--secondary-solid-hover);
    --color-secondary-text: var(--secondary-text);
    --color-secondary-text-contrast: var(--secondary-text-contrast);
    --color-secondary-on-secondary: var(--secondary-on-secondary);

    /* Success colors */
    --color-success-base: var(--success-base);
    --color-success-bg-subtle: var(--success-bg-subtle);
    --color-success-bg: var(--success-bg);
    --color-success-bg-hover: var(--success-bg-hover);
    --color-success-bg-active: var(--success-bg-active);
    --color-success-line: var(--success-line);
    --color-success-border: var(--success-border);
    --color-success-border-hover: var(--success-border-hover);
    --color-success-solid: var(--success-solid);
    --color-success-solid-hover: var(--success-solid-hover);
    --color-success-text: var(--success-text);
    --color-success-text-contrast: var(--success-text-contrast);
    --color-success-on-success: var(--success-on-success);

    /* Warning colors */
    --color-warning-base: var(--warning-base);
    --color-warning-bg-subtle: var(--warning-bg-subtle);
    --color-warning-bg: var(--warning-bg);
    --color-warning-bg-hover: var(--warning-bg-hover);
    --color-warning-bg-active: var(--warning-bg-active);
    --color-warning-line: var(--warning-line);
    --color-warning-border: var(--warning-border);
    --color-warning-border-hover: var(--warning-border-hover);
    --color-warning-solid: var(--warning-solid);
    --color-warning-solid-hover: var(--warning-solid-hover);
    --color-warning-text: var(--warning-text);
    --color-warning-text-contrast: var(--warning-text-contrast);
    --color-warning-on-warning: var(--warning-on-warning);

    /* Alert colors */
    --color-alert-base: var(--alert-base);
    --color-alert-bg-subtle: var(--alert-bg-subtle);
    --color-alert-bg: var(--alert-bg);
    --color-alert-bg-hover: var(--alert-bg-hover);
    --color-alert-bg-active: var(--alert-bg-active);
    --color-alert-line: var(--alert-line);
    --color-alert-border: var(--alert-border);
    --color-alert-border-hover: var(--alert-border-hover);
    --color-alert-solid: var(--alert-solid);
    --color-alert-solid-hover: var(--alert-solid-hover);
    --color-alert-text: var(--alert-text);
    --color-alert-text-contrast: var(--alert-text-contrast);
    --color-alert-on-alert: var(--alert-on-alert);

    /* Info colors */
    --color-info-base: var(--info-base);
    --color-info-bg-subtle: var(--info-bg-subtle);
    --color-info-bg: var(--info-bg);
    --color-info-bg-hover: var(--info-bg-hover);
    --color-info-bg-active: var(--info-bg-active);
    --color-info-line: var(--info-line);
    --color-info-border: var(--info-border);
    --color-info-border-hover: var(--info-border-hover);
    --color-info-solid: var(--info-solid);
    --color-info-solid-hover: var(--info-solid-hover);
    --color-info-text: var(--info-text);
    --color-info-text-contrast: var(--info-text-contrast);
    --color-info-on-info: var(--info-on-info);

    /* Overlay colors */
    --color-overlay-base: var(--overlay-base);
    --color-overlay-bg-subtle: var(--overlay-bg-subtle);
    --color-overlay-bg: var(--overlay-bg);
    --color-overlay-bg-hover: var(--overlay-bg-hover);
    --color-overlay-bg-active: var(--overlay-bg-active);
    --color-overlay-line: var(--overlay-line);
    --color-overlay-border: var(--overlay-border);
    --color-overlay-border-hover: var(--overlay-border-hover);
    --color-overlay-solid: var(--overlay-solid);
    --color-overlay-solid-hover: var(--overlay-solid-hover);
    --color-overlay-text: var(--overlay-text);
    --color-overlay-text-contrast: var(--overlay-text-contrast);
  }

  :root {
    --bg-default: #000;
    --bg-base: #0d111b;
    --bg-bg-subtle: #141924;
    --bg-bg: #1c2233;
    --bg-bg-hover: #21293f;
    --bg-bg-active: #262f49;
    --fg-line: #2d3858;
    --fg-border: #37456d;
    --fg-border-hover: #4c5e92;
    --fg-solid: #596ba1;
    --fg-solid-hover: #6779ad;
    --fg-text: #a3b3db;
    --fg-text-contrast: #e9eefa;
    --fg-default: #fff;

    --primary-base: #0a111e;
    --primary-bg-subtle: #0f1728;
    --primary-bg: #10244e;
    --primary-bg-hover: #122e69;
    --primary-bg-active: #18387d;
    --primary-line: #20438e;
    --primary-border: #2850a3;
    --primary-border-hover: #2f5dbf;
    --primary-solid: #084ad9;
    --primary-solid-hover: #0037c7;
    --primary-text: #88b5ff;
    --primary-text-contrast: #d0e2ff;
    --primary-on-primary: #fff;

    --secondary-base: #1d131d;
    --secondary-bg-subtle: #251425;
    --secondary-bg: #341a34;
    --secondary-bg-hover: #3e1d40;
    --secondary-bg-active: #48214b;
    --secondary-line: #542658;
    --secondary-border: #692d6f;
    --secondary-border-hover: #883894;
    --secondary-solid: #ab4aba;
    --secondary-solid-hover: #bd54c6;
    --secondary-text: #d864d8;
    --secondary-text-contrast: #fbecfc;
    --secondary-on-secondary: #fff;

    --success-base: #0d1912;
    --success-bg-subtle: #0f1e13;
    --success-bg: #132819;
    --success-bg-hover: #16301d;
    --success-bg-active: #193921;
    --success-line: #1d4427;
    --success-border: #245530;
    --success-border-hover: #2f6e3b;
    --success-solid: #46a758;
    --success-solid-hover: #55b467;
    --success-text: #63c174;
    --success-text-contrast: #e5fbeb;
    --success-on-success: #fff;

    --warning-base: #1f1300;
    --warning-bg-subtle: #271700;
    --warning-bg: #341c00;
    --warning-bg-hover: #3f2200;
    --warning-bg-active: #4a2900;
    --warning-line: #573300;
    --warning-border: #693f05;
    --warning-border-hover: #824e00;
    --warning-solid: #ffb224;
    --warning-solid-hover: #ffcb47;
    --warning-text: #f1a10d;
    --warning-text-contrast: #fef3dd;
    --warning-on-warning: #000;

    --alert-base: #1f1417;
    --alert-bg-subtle: #2a1519;
    --alert-bg: #3b181f;
    --alert-bg-hover: #471a23;
    --alert-bg-active: #531b27;
    --alert-line: #661d2c;
    --alert-border: #8a1e34;
    --alert-border-hover: #d01b3f;
    --alert-solid: #e54666;
    --alert-solid-hover: #f2657e;
    --alert-text: #ff859d;
    --alert-text-contrast: #fed2e1;
    --alert-on-alert: #fff;

    --info-base: #0f1720;
    --info-bg-subtle: #0f1b2d;
    --info-bg: #10243e;
    --info-bg-hover: #102a4c;
    --info-bg-active: #0f3058;
    --info-line: #0d3868;
    --info-border: #0a4481;
    --info-border-hover: #0954a5;
    --info-solid: #0091ff;
    --info-solid-hover: #369eff;
    --info-text: #52a9ff;
    --info-text-contrast: #eaf6ff;
    --info-on-info: #fff;

    --overlay-base: hsla(0, 0%, 0%, 0.012);
    --overlay-bg-subtle: hsla(0, 0%, 0%, 0.027);
    --overlay-bg: hsla(0, 0%, 0%, 0.047);
    --overlay-bg-hover: hsla(0, 0%, 0%, 0.071);
    --overlay-bg-active: hsla(0, 0%, 0%, 0.09);
    --overlay-line: hsla(0, 0%, 0%, 0.114);
    --overlay-border: hsla(0, 0%, 0%, 0.141);
    --overlay-border-hover: hsla(0, 0%, 0%, 0.22);
    --overlay-solid: hsla(0, 0%, 0%, 0.439);
    --overlay-solid-hover: hsla(0, 0%, 0%, 0.478);
    --overlay-text: hsla(0, 0%, 0%, 0.565);
    --overlay-text-contrast: hsla(0, 0%, 0%, 0.91);
  }
}

@layer components {
  @import 'fumadocs-ui/style.css';
}


/* Styles removed and will be injected via browser */
#nd-page > div:first-child {
  @apply !top-[65px];
}

#nd-tocnav {
  @apply bg-bg-base/80 backdrop-blur-sm backdrop-saturate-300;
}

/*Add top padding to TOC to avoid conflict with custom nav*/

#nd-toc {
  padding-top: 80px;
}

/*Add max width to code blocks to solve the responsiveness on small screens*/

#nd-page article figure div pre {
  position: flex;
  margin: auto;
  max-width: 200px;
}

/*Remove padding and max-width from product slug page so the content is flush with the top nav*/
.product-page {
  #nd-page {
    padding: 0;
  }

  #nd-page article {
    max-width: none;
    padding: 0;
  }
}

/* Fix figure width issues on blog pages */
#nd-page article figure {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

#nd-page article figure img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

/* .prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
} */

.anchor:hover {
  @apply visible;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

body {
  /* background-color: #111111; */
  /* font-family: 'Manrope', sans-seri
 f; */
  font-family: var(--font-manrope), sans-serif;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin: 1px !important;
}

/* Track (background) */
/* ::-webkit-scrollbar-track {
  background-color: #07050e;
} */

/* Thumb (draggable scrolling handle) */
::-webkit-scrollbar-thumb {
  background-color: rgba(81, 83, 105, 0.5);
  border-radius: 16px;
  margin: 1px !important;
}

/* Thumb hover state */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(81, 83, 105, 0.7);
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

body {
  @apply bg-bg-base;
}

/* .prose {
  max-width: none;
}

.prose p {
  @apply text-gray-300;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  line-height: 1.75;
}

.prose h1 {
  @apply text-white;
  font-weight: 700;
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.prose h2 {
  @apply text-white;
  font-weight: 700;
  font-size: 1.875rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.prose h3 {
  @apply text-white;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  line-height: 1.4;
}

.prose ul,
.prose ol {
  @apply text-gray-300;
  margin: 1.25em 0;
  padding-left: 1.625em;
}

.prose ul {
  list-style-type: disc;
}

.prose ol {
  list-style-type: decimal;
}

.prose li {
  margin: 0.5em 0;
  line-height: 1.75;
}

.prose code {
  @apply text-blue-300 bg-gray-800;
  font-weight: 600;
  font-size: 0.875em;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

.prose pre {
  @apply text-gray-300 bg-gray-800/50 border border-gray-700/50;
  font-size: 0.875em;
  line-height: 1.714;
  padding: 1rem;
  margin: 1.714em 0;
  overflow-x: auto;
  border-radius: 0.375rem;
}

.prose blockquote {
  @apply text-gray-300 border-l-4 border-blue-500/50;
  font-style: italic;
  padding-left: 1rem;
  margin: 1.5rem 0;
}

.prose a {
  @apply text-white hover:text-white;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.prose table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

.prose th {
  @apply bg-gray-800/50 text-white border-b border-gray-700;
  font-weight: 600;
  text-align: left;
  padding: 0.75rem;
}

.prose td {
  @apply text-gray-300 border-b border-gray-800;
  padding: 0.75rem;
}

.hljs {
  @apply bg-gray-800/50 text-gray-300;
  padding: 1em;
  border-radius: 0.5em;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
  @apply text-blue-400;
}

.hljs-string {
  @apply text-green-400;
}

.hljs-comment {
  @apply text-gray-500;
}

.hljs-number,
.hljs-literal {
  @apply text-orange-400;
}

.hljs-tag,
.hljs-template-variable,
.hljs-variable,
.hljs-deletion {
  @apply text-red-400;
}

.hljs-regexp,
.hljs-link {
  @apply text-purple-400;
} */
